@keyframes grow-hero {


    to {
        height: 545px;
    }
}

@keyframes move-h1 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes move-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-480px);
    }
}

@keyframes appear-p {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes card {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes first-wave {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }

    99% {

        opacity: 1;
    }

    100% {
        transform: translateX(-5%);
        opacity: 0;
    }
}

@keyframes second-wave-in {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }

    100% {
        transform: translateX(-125%);
        opacity: 1;
    }
}

@keyframes moving-in {
    from {
        transform: translateY(100px);

        opacity: 1;
    }

    to {
        transform: translateY(0);

        opacity: 1;
    }
}

@keyframes banana {

    0%,
    0.03% {
        transform: translateY(0px) rotate(0deg) scaleX(1) scaleY(1);
        animation-timing-function: ease-in;
    }


    25%,
    25.03% {
        transform: translateY(0px) rotate(90deg) scaleX(1) scaleY(1);
        animation-timing-function: ease-in;
    }

    50%,
    50.03% {
        transform: translateY(0px) rotate(180deg) scaleX(1) scaleY(1);
        animation-timing-function: ease-in;
    }


    75%,
    75.03% {
        transform: translateY(0px) rotate(270deg) scaleX(1) scaleY(1);
        animation-timing-function: ease-in;
    }

    100%,
    100.00% {
        transform: translateY(0px) rotate(360deg) scaleX(1) scaleY(1);
    }
}

@keyframes moving {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}