@font-face {
    font-family: "Arima";
    src: url(../assets/fonts/Arima/Arima-VariableFont_wght.ttf);
} 

@font-face {
    font-family: "Palanquin";
    src: url(../assets/fonts/Palanquin/Palanquin-Regular.ttf);
}