.article-lorem {
  margin: 88px 100px;
  max-width: 1200px;
}

.article-lorem p {
  text-align: start;
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 400;
  color: #3d3d3d;
  line-height: 120%;
}

.graph-1-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  padding-bottom: 24px;
}

.rain-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.title-h6 {
  font-size: 32px;
  font-weight: 600;
}

.graph-2-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}

.graph-2-3>div {
  flex: 0 0 calc(50% - 15px);
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 519px;
}

.graph-2-headline {
  display: flex;
  text-align: center;
  justify-content: center;
}

.graph-3-headline {
  display: flex;
  text-align: center;
  justify-content: center;
}

.graph-2-3>article {
  flex: 0 0 100%;
  width: 100%;
  padding: 0 100px;
}

.graph-2-3 img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 53px;
  height: auto;
  margin-top: auto;
}

main {
  width: 100%;
  max-width: 1220px;
  margin-left: unset;
  margin-right: unset;
}

@media screen and (max-width: 1100px) {

  .graph-2-headline,
  .graph-3-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .article-lorem {
    margin: 64px 0;
    padding: 0 32px;
  }
}

@media screen and (max-width: 910px) {
  .graph-2-3>div {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .graph-2-3 {
    gap: 0;
  }

  .graph-2-3 img {
    padding: 0 32px;
  }

  .rain-graph img {
    padding: 0 32px;
  }

  .graph-2-3>div:nth-child(2) {
    margin-top: 88px;
  }

  .article-lorem {
    margin: 64px 0;
    padding: 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .rain-graph img {
    max-width: 100%;
    padding: 0 32px;
  }

  .article-lorem {
    max-width: 1200px;
  }

  .article-lorem p {
    margin: 0px 0;
  }

  .article-lorem {
    margin: 48px 0;
    padding: 0 32px;
  }

  .graph-2-3 {
    margin-top: 48px;
  }

  .graph-2-3>article {
    padding: 0 32px;
  }

  .graph-2-3 img,
  .rain-graph img {
    padding: 0 32px;
  }

  .graph-2-3>div:nth-child(2) {
    margin-top: 64px 0;
  }
}

@media screen and (max-width: 479px) {
  .article-lorem {
    max-width: 100%;
    padding: 0 16px;
    margin: 32px 0;
  }

  .article-lorem p {
    line-height: 100%;
    font-size: 16px;
  }

  .title-h6 {
    font-size: 24px;
    font-weight: 600;
  }

  .graph-2-3>div:nth-child(2) {
    margin-top: 32px;
  }
}