* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--global-h1-color);
    font-size: 64px;
    font-family: var(--font-heading-h1);
    font-weight: 700;
}

h2 {
    color: var(--global-h2-color);
    font-size: 52px;
    font-family: var(--font-heading-h2);
    font-weight: 700;
    padding-top: 6px;
}

h3 {
    color: var(--global-h3-color);
    font-size: 32px;
    font-family: var(--font-heading-h3);
    font-weight: 600;
}

h4 {
    font-family: 'Arima';
    font-size: 64px;
    font-weight: 700;
    color: var(--global-h4-color);
    line-height: 100%;
}

h5 {
    font-family: 'Palanquin';
    font-size: 40px;
    font-weight: 600;
    color: var(--global-h5-color);
    line-height: 120%;
}

h6 {
    font-family: 'Palanquin';
    font-size: 32px;
    font-weight: 400;
    color: var(--global-h6-color);
    line-height: 120%;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 128px;
    position: absolute;
    background-color: var(--nav-footer-bg-color);
}

.header-navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    flex-direction: row;
    align-items: center;
    gap: 102px;
    margin-left: 146px;
}

.navbar a {
    text-decoration: none;
    color: rgba(248, 245, 235, 1);
    font-family: Arima;
    font-weight: bold;
    font-size: 24px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 72px;
    list-style: none;
}

.nav-special-hover {
    position: relative;
    display: inline-block;
}

.nav-special-hover::after {
    content: '';
    position: absolute;
    left: 55%;
    bottom: 2px;
    width: 100%;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transform: translateX(-50%) scaleX(0);
    transition: all 0.4s ease-in-out;
}

.highlight-hover::after {
    background-image: url(../assets/icons/hover-highlight.svg);
}

.faq-hover::after {
    background-image: url(../assets/icons/hover-faq.svg);
}

.contact-hover::after {
    background-image: url(../assets/icons/hover-contact.svg);
    left: 50%;
}

.nav-special-hover:hover::after {
    opacity: 1;
    transform: translateX(-50%) scaleX(1.1);
}

.nav-special-hover:active {
    color: rgba(241, 201, 83, 1);
}

.hero-section-layout {
    margin: 208px auto 0;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.hero-section {
    max-width: 902px;
}

.article-info {
    margin-top: 40px;
    display: flex;
    gap: 32px;
}

.article-info-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.article-info span {
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
    color: #54370D;
    line-height: 120%;
    line-height: 120%;
}

.article-info img {
    max-height: 18px;
    max-width: 20px;
}

.author-card {
    border-radius: 30px;
    padding: 16px 16px 0;
    margin-bottom: 0;
    width: 25%;
    height: fit-content;
    padding-bottom: 16px;
    background-color: #4EA48733;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.author-card img {
    height: 120px;
    width: 120px;
}

.author-card p {
    color: #54370D;
    line-height: 120%;
}

.author-name p {
    font-family: 'Arima';
    font-size: 18px;
    font-weight: 700;
}

.author-role p {
    font-family: 'Arima';
    font-size: 18px;
    font-weight: 400;
}

.author-bio {
    font-family: 'Palaquin';
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

.pro-tipps {
    max-width: 1130px;
    margin: 88px 145px 0;
}

.pro-tipps-button {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #4EA487;
    width: 196px;
    height: 66px;
    border-radius: 10px;
    transform: rotate(-13.67deg);
    margin-bottom: -24px;
}

.pro-tipps-button img {
    height: 42px;
    width: 41px;
    transform: rotate(13.67deg);
}

.pro-tipps-button p {
    color: #F1C953;
    font-family: "Palanquin";
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
}

.pro-tipps-tipps {
    z-index: 1;
    margin-left: 47px;
    padding: 26px 16px;
    margin-bottom: 32px;
    border-radius: 30px;
    background-color: #4EA48733;
}

.pro-tipps-tipps ol {
    font-family: "Palanquin";
    font-size: 24px;
    font-weight: 400;
    color: #3D3D3D;
    line-height: 120%;
}

.pro-tipps-tipps a {
    font-family: 'Palanquin';
    font-size: 24px;
    text-decoration: none;
    color: #4EA487;
    font-weight: 700;
    line-height: 120%;
}

.share-section {
    width: 493px;
    height: 154px;
    margin-bottom: 88px !important;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share-section-text p {
    font-family: "Arima";
    font-size: 24px;
    font-weight: 500;
    color: #54370D;
    text-align: center;
    max-width: 463px;
    max-height: 58px;
    line-height: 120%;
}

.groß-img img {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -40px;
}

.klein-img img {
    display: none;
}

button {
    background: none;
    border: none;
}

.share-button {
    border-radius: 40px;
    border: none;
    width: 158px;
    height: 48px;
    background-color: #4EA487;
    margin-top: 0px;
    padding: 24px;
    gap: 8px;

    align-items: center;
    justify-content: left;
    display: flex;
    outline: none;
    transition: all 0.3s ease-in-out;

}

.share-button img {
    height: 32px;
    width: 32px;
    left: 15px;
}

.share-button p {
    font-family: "Arima";
    font-size: 24px;
    font-weight: 700;
    color: #F1C953;

}

.share-option-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 220px;
    height: 54px;
    gap: 10px;
    display: none;
}

.share-option-container img {
    display: block;
    height: 32px;
    width: 32px;
}

button:focus-within {
    display: flex;
    justify-content: center;
    width: 273px;
}

.share-section:focus-within .share-button>img {
    display: none;
}

.share-section:focus-within .share-option-container {
    display: flex;
}

.share-section:focus-within .share-button {
    width: auto;
    justify-content: center;

}

.share-option-options {
    display: flex;
    flex-direction: column;
}

.share-option-options a {
    font-family: "Arima";
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: #4EA487;
}

.share-option-options a:hover {
    font-weight: 700;
}

footer {
    display: flex;
    width: 100%;
    height: 128px;
    background-color: var(--nav-footer-bg-color);
}

footer img {
    width: 28px;
    height: 28px;
}

.footer-txt {
    display: flex;
    height: 128px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 60px 120px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 90px;
}

.footer-copyright {
    display: flex;
    align-items: center;
}

.footer-imprint-cookies {
    display: flex;
    gap: 24px;
}

.footer-left a {
    text-decoration: none;
    font-family: palanquin;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

}

/*.footer-right img {
    width: 32px;
    height: 32px;
}*/
.footer-tiktok-img {
    width: 32px;
    height: 32px;
}

.footer-youtube-img {
    width: 44px;
    height: 32px;
}

.footer-facebook-img {
    width: 32px;
    height: 32px;
}

.footer-instagram-img {
    width: 32px;
    height: 32px;
}

.footer-right {
    display: flex;
    gap: 16px;
    width: 44px;
    padding-right: 120px;
}

.mobile-navbar {
    display: none;
}

@media screen and (max-width:1440px) {
    .hero-section {
        width: 100%;
    }
}

@media screen and (max-width:1280px) {
    .hero-section-layout {
        flex-direction: column;
        padding: 0 32px;
    }

    .author-card {
        flex-direction: row;
        width: 100%;
        margin-top: 40px;
        justify-content: center;
        gap: 40px;
    }

    .author-bio {
        width: 65ch;
    }

    .author-info {
        display: flex;
        flex-direction: column;
    }

    .pro-tipps {
        max-width: 100%;
        margin: 40px 100px 0;
    }

    .share-section {
        margin-bottom: 40px;
    }
}

@media screen and (min-width:875px) {
    .hero-section-layout {
        margin-top: 168px;
        padding: 0 32px;
    }

    .pro-tipps {
        width: 100%;
        margin: 40px 0 0;
        padding: 0 32px;
    }
}

@media screen and (max-width:932px) {
    .hero-section-layout {
        width: 100%;
        margin-top: 168px;
        padding: 0 32px;
    }

    .hero-section {
        width: 100%;
    }

    .author-card {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    .author-bio {
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .hero-section-layout {
        margin: 100px auto 0;
    }

    .pro-tipps {
        padding: 0 32px;
        margin: 40px 0 0;
    }
}

@media screen and (max-width: 700px) {
    .hero-section-layout {
        padding: 0 32px;
    }
}

@media screen and (max-width:694px) {
    .article-info {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:544px) {
    .share-section {
        width: 100%;
        padding: 0 32px;
    }

    .groß-img img {
        display: none;
    }

    .klein-img img {
        display: flex;
        justify-content: flex-start;
    }

    .share-section-text p {
        margin-bottom: 20px;
    }

    .author-card {
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
    }
}

@media screen and (max-width:500px) {
    h4 {
        font-size: 40px;
        font-weight: 700;
    }

    h5 {
        font-size: 20px;
        font-weight: 600;
    }

    h6 {
        font-size: 18px;
        font-weight: 400;
    }

    .article-info {
        margin-top: 24px;
        gap: 16px;
    }

    .author-name p {
        font-size: 16px;
        font-weight: 700;
    }

    .author-role p {
        font-size: 16px;
        font-weight: 400;
    }

    .pro-tipps-tipps ol {
        font-size: 16px;
    }

    .pro-tipps-tipps a {
        font-size: 16px;
    }

    .share-section-text p {
        font-size: 18px;
    }

    .klein-img img {
        margin-left: 0;
    }
}

@media screen and (max-width:400px) {
    .share-section {
        margin: 20px 0 40px;
    }
}

@media screen and (max-width:479px) {
    .hero-section-layout {
        margin: calc(80px + 24px) 0 0;
        padding: 0 16px;
    }

    .author-card {
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
    }

    .pro-tipps {
        margin: 40px 0 0 0;
        padding: 0 16px;
    }

    .pro-tipps-tipps {
        margin: 10px 0 0;
        padding: 24px 0;
    }
}

@media screen and (min-width:1280px) {
    .hero-section-layout {
        width: 1200px;
        gap: 8px;
        padding: 0;
    }
}