* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h4 {
    font-family: 'Arima';
    font-size: 64px;
    font-weight: 700;
    color: var(--global-h4-color);
}

h5 {
    font-family: 'Arima';
    font-size: 40px;
    font-weight: 600;
    color: var(--global-h5-color);
}

h6 {
    font-family: 'Palanquin';
    font-size: 32px;
    font-weight: 400;
    color: var(--global-h6-color);
}


.hero-section-layout {
    margin: 208px auto 0;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.hero-section {
    max-width: 902px;
}

.article-info {
    margin-top: 40px;
    display: flex;
    gap: 32px;
}

.article-info-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.article-info span {
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
    color: #54370D;
}

.article-info img {
    max-height: 18px;
    max-width: 20px;
}

.author-card {
    border-radius: 30px;
    padding: 16px 16px 0;
    margin-bottom: 0;
    width: 25%;
    background-color: #4EA48733;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.author-card img {
    height: 120px;
    width: 120px;
}

.author-card p {
    color: #54370D;
}

.author-name p {
    font-family: 'Arima';
    font-size: 18px;
    font-weight: 700;
}

.author-role p {
    font-family: 'Arima';
    font-size: 18px;
    font-weight: 400;
}

.author-bio {
    font-family: 'Palaquin';
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

.pro-tipps {
    max-width: 1130px;
    margin: 88px 145px 0;
}

.pro-tipps-button {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #4EA487;
    width: 196px;
    height: 66px;
    border-radius: 10px;
    transform: rotate(-13.67deg);
    margin-bottom: -24px;
}

.pro-tipps-button img {
    height: 42px;
    width: 41px;
    transform: rotate(13.67deg);
}

.pro-tipps-button p {
    color: #F1C953;
    font-family: "Palanquin";
    font-size: 28px;
    font-weight: 700;
}

.pro-tipps-tipps {
    z-index: 1;
    margin-left: 47px;
    padding: 26px 16px;
    border-radius: 30px;
    background-color: #4EA48733;
}

.pro-tipps-tipps ol {
    font-family: "Palanquin";
    font-size: 24px;
    font-weight: 400;
    color: #3D3D3D;
}

.pro-tipps-tipps span {
    .pro-tipps-tipps a {
        text-decoration: none;
        color: #4EA487;
        font-weight: 700;
    }
}

.share-section {
    max-width: 493px;
    max-height: 154px;
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share-section-text p {
    font-family: "Arima";
    font-size: 24px;
    font-weight: 500;
    color: #54370D;
    text-align: center;
    max-width: 463px;
    max-height: 58px;
}

.share-section-text img {
    justify-content: flex-start;
}

button {
    border-radius: 40px;
    border: none;
    max-width: 158px;
    max-height: 48px;
    background-color: #4EA487;
    margin-top: -40px;
    padding: 24px;
    gap: 8px;

    align-items: center;
    justify-content: left;
    display: flex;
    outline: none;
    position: relative;
}

button img {
    height: 32px;
    width: 32px;
    left: 15px;
}

button p {
    font-family: "Arima";
    font-size: 24px;
    font-weight: 700;
    color: #F1C953;
}

.share-option-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 220px;
    height: 54px;
    position: absolute;
    gap: 10px;
    display: none;
}


.share-option-container img {
    display: block;
    height: 32px;
    width: 32px;
}

.share-section:focus-within button>img {
    display: none;
}

.share-section:focus-within .share-option-container {
    display: flex;
}

.share-option-options {
    display: flex;
    flex-direction: column;
}

.share-option-options a {
    font-family: "Arima";
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    color: #4EA487;
}

.share-option-options a:hover {
    font-weight: 700;
}