* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h4 {
    font-family: 'Arima';
    font-size: 64px;
    font-weight: 700;
    color: var(--global-h4-color);
    margin-bottom: 8px;
}

h5 {
    font-family: 'Arima';
    font-size: 40px;
    font-weight: 600;
    color: var(--global-h5-color);
    margin-bottom: 8px;
}

h6 {
    font-family: 'Palanquin';
    font-size: 32px;
    font-weight: 400;
    color: var(--global-h6-color);
}


.hero-section-layout {
    margin: 208px 120px 0;
    display: flex;
    justify-content: space-between;
    gap: 27px;
}

.hero-section {
    max-width: 902px;
}

.article-info {
    display: flex;
    gap: 32px;
    margin-top: 40px;
}

.article-info-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

.article-info span {
    font-family: 'Palanquin';
    font-size: 16px;
    font-weight: 400;
    color: #54370D;
}

.article-info img {
    max-height: 18px;
    max-width: 20px;
}

.author-card {
    border-radius: 30px;
    padding: 16px 16px 0;
    margin-bottom: 0;
    width: 25%;
    background-color: #4EA48733;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.author-card img {
    height: 120px;
    width: 120px;
}

.author-card p {
    color: #54370D;
}

.author-name p {
    font-family: 'Arima';
    font-size: 18px;
    font-weight: 700;
}

.author-role p {
    font-family: 'Arima';
    font-size: 18px;
    font-weight: 400;
}

.author-bio {
    font-family: 'Palaquin';
    font-size: 16px;
    font-weight: 400;
    text-align: start;
}

.pro-tipps {
    margin: 88px 145px 0;
}

.pro-tipps-button {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #4EA487;
    width: 196px;
    height: 66px;
    border-radius: 10px;
    transform: rotate(-13.67deg);
    margin-bottom: -24px;
}

.pro-tipps-button img{
    height: 42px;
    width: 41px;
    transform: rotate(13.67deg);
}

.pro-tipps-button p {
    color: #F1C953;
    font-family: "Palanquin";
    font-size: 28px;
    font-weight: 700;
}

.pro-tipps-tipps {
    z-index: 1;
    margin-left: 47px;
    padding: 26px 16px;
    border-radius: 30px;
    background-color: #4EA48733;
}

.pro-tipps-tipps ol{
    font-family: "Palanquin";
    font-size: 24px;
    font-weight: 400;
    color: #3D3D3D;
}

.pro-tipps-tipps span{
    color: #4EA487;
    font-weight: 700;
}