* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: var(--global-h2-color);
    font-size: 48px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 128px;
    position: absolute;
    background-color: var(--nav-footer-bg-color);
}

.header-navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 1440px;
    flex-direction: row;
    align-items: center;
    gap: 102px;
    margin-left: 146px;
}

.navbar a {
    text-decoration: none;
    color: rgba(248, 245, 235, 1);
    font-family: Arima;
    font-weight: bold;
    font-size: 24px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 72px;
    list-style: none;
}

.hero {
    height: 515px;
    background-image: url(../assets/img/herobackground1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.higlights-top {
    display: flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.highlights-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights-slider-text {
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 38px;
    top: 54px;
    width: 881px;
    color: white;
    padding: 16px 24px;
    backdrop-filter: blur(10px);
    border-right: solid 1px white;
    border-left: solid 1px white;
}

.highlights-slider-text h3 {
    display: flex;
    color: white;
    font-family: "Palanquin dark";
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 100%;
    font-family: Palanquin Dark;
    letter-spacing: 0%;
    margin-bottom: 8px;
}

.highlights-slider-text p {
    width: 820px;
    height: 93px;
    font-family: "Palanquin", latin;
    font-weight: 400;
    font-size: 28px;
    line-height: 110%;
}

.section-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.section-heading img {
    width: 48px;
    height: 48px;
}

.slider-main {
    position: relative;
    width: 100%;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.slider-main input {
    z-index: 2;
}

.slider-main-wrapper {
    z-index: 1;
    width: 400%;
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 1;
    transition: all 0.75s ease-in-out;
}

.slider-main-element img {
    width: 100%;
    height: 533px;
}

.slider-main-element {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% / 4);
    height: 533px;
}

.slider-main input[value="one"]:checked~.slider-main-wrapper {
    transform: translateX(calc(150% / 4));
}

.slider-main input[value="two"]:checked~.slider-main-wrapper {
    transform: translateX(calc(50% / 4));
}

.slider-main input[value="three"]:checked~.slider-main-wrapper {
    transform: translateX(calc(-50% / 4));
}

.slider-main input[value="four"]:checked~.slider-main-wrapper {
    transform: translateX(calc(-150% / 4));
}

.slider-main input[type="radio"] {
    appearance: none;
    margin: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

.slider-main input[type="radio"]::before {
    border-radius: 50%;
    transform: scale(0);
    transition: 0.15s ease;
    background: rgba(255, 255, 255, 1);
}

.slider-main input[type="radio"]:checked {
    background: rgba(241, 201, 83, 1);
    margin: 10px;
    width: 40px;
    height: 28px;
    border-radius: 999px;
    cursor: pointer;
    display: flex;
    margin-bottom: 50px;
}

.faq {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    text-align: left;
}

.faq_headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.img_faq {
    width: 48px;
    height: 48px;
}

details {
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(241, 201, 83, 1);
}

summary {
    font-weight: bold;
    cursor: pointer;
}

details[open] p {
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

details[open] summary {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-img-div {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}


details[open] .summary-img-div {
    transform: rotate(180deg);
}


.summary-img-div::after {

    font-family: Arial, sans-serif;
    font-weight: bold;
    display: inline-block;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 10px 0;
    margin-top: 6px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    font-family: inherit;
    font-size: 16px;
}


input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
}


input[type=submit]:hover {
    background-color: #45a049;
}

.contact_headline {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.contact_p {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.contact_img {
    display: flex;
    width: 48px;
    height: 48px;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 100%;
}

.row {
    display: flex;
    gap: 80px;

}

.col {
    flex: 1;

}

.policy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    width: 100%;

}

.policy-container input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.policy-container a {
    color: #04AA6D;
    text-decoration: none;
}

.policy-container a:hover {
    text-decoration: underline;
}