:root {
    --nav-footer-bg-color: rgba(78, 164, 135, 1);
    --global-h2-color: rgba(78, 164, 135, 1);
    --global-h3-color: rgba(255, 255, 255, 1);
    --global-h4-color: rgba(241, 201, 83, 1);
    --global-h5-color: rgba(78, 164, 135, 1);
    --global-h6-color: rgba(84, 55, 13, 1);
}