@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/arima-v7-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/arima-v7-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/arima-v7-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Arima/arima-v7-latin-700.woff2') format('woff2');
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/font-Palanquin/palanquin/Palanquin-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/font-Palanquin/palanquin/Palanquin-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/font-Palanquin/palanquin/Palanquin-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/font-Palanquin/palanquin/Palanquin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/font-Palanquin/palanquin/Palanquin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/font-Palanquin/palanquin/Palanquin-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin';
    src: url('../assets/fonts/font-Palanquin/palanquin/Palanquin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Palanquin Dark';
    src: url('../assets/fonts/font-Palanquin/palanquin-dark-v17-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --nav-footer-bg-color: rgba(78, 164, 135, 1);
    --global-h1-color: rgba(84, 55, 13, 1);
    --global-h2-color: rgba(78, 164, 135, 1);
    --global-h3-color: rgba(255, 255, 255, 1);
    --global-h4-color: rgba(241, 201, 83, 1);
    --global-h5-color: rgba(78, 164, 135, 1);
    --global-h6-color: rgba(84, 55, 13, 1);
    --font-heading-h1: 'Arima', sans-serif;
    --font-heading-h2: 'Arima', sans-serif;
    --font-heading-h3: 'Palanquin', sans-serif;
}