.article-lorem {
  max-width: 1200px;
  margin: 88px 100px;
}

.article-lorem p {
  text-align: start;
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 400;
  color: #3d3d3d;
}

.list-lorem {
  padding: 0 200px;
}

.list-lorem p {
  margin-bottom: 24px;
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 400;
  color: #3d3d3d;
}

.container-video {
  width: 930px;
}

.image-wrapper {
  position: relative;
  border-radius: 45px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.image-wrapper img {
  width: 100%;
}

.play-button {
  height: 30%;
  max-height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-wrapper img:first-child {
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.container-video a:hover .image-wrapper img:first-child {
  transform: scale(1.05);
}

ul {
  margin-bottom: 24px;
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 400;
  color: #3d3d3d;
  padding-left: 5%;
}

ul li::marker {
  font-size: 0.6em;
}

@media screen and (max-width: 1040px) {
  .image-wrapper {
    margin: 0 auto;
    width: clamp(280px, 80vw, 930px);
    height: auto;
    border-radius: 30px;
  }
}
