.article-lorem {
  max-width: 1200px;
  margin: 88px 100px;
}

.article-lorem p {
  text-align: start;
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 400;
  color: #3d3d3d;
}

.list-lorem {
  padding: 0 200px;
}

.list-lorem p {
  margin-bottom: 24px;
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 400;
  color: #3d3d3d;
}

.container-video {
  width: 930px;
}

.image-wrapper {
  position: relative;
  border-radius: 45px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
}

.play-button {
    height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  cursor: pointer;
}

ul {
  margin-bottom: 24px;
  font-family: "Palanquin";
  font-size: 24px;
  font-weight: 400;
  color: #3d3d3d;
  padding-left: 5%;
}

ul li::marker {
  font-size: 0.6em;
}


__________

.share-section {


    padding-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.share-section-text p {
    font-family: "Arima";
    font-size: 24px;
    font-weight: 500;
    color: #54370D;
    text-align: center;
    max-width: 463px;
    max-height: 58px;
    
}

.share-section-text img{
    height: 64px;
    z-index: 2;
    justify-content: flex-start;
}

button {
  margin: 0 auto;
    border-radius: 40px;
    max-width: 158px;
    max-height: 48px;
    background-color: #4EA487;
    padding: 8px 24px;
    gap: 8px;
    z-index: 1;

    display: flex;
}

button img {
    height: 32px;
    width: 32px;
}

button p {
    font-family: "Arima";
    font-size: 24px;
    font-weight: 700;
    color: #F1C953;
}